$fontPrimary: 'Roboto', sans-serif;
$fontSecondary: 'Poppins', sans-serif;
$colorRed: #d63031;

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-color: rgb(246, 246, 246);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;
    padding: 20px;
    .logo {
        h1 {
            font-family: $fontPrimary;
        }
        span {
            color: $colorRed;
        }
    }
    .burger {
        display: none;
    }
    .nav-links-ctn {
        display: flex;
        justify-content: space-around;
        width: 37%;
        font-family: $fontSecondary;
        .nav-links {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 60%;
            li {
                list-style-type: none;
            }
            a {
                text-decoration: none;
                color: black;
                &:hover {
                    border-bottom: 2px solid $colorRed;
                }
            }
        }
        .nav-account {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 30%;
            li {
                list-style-type: none;
            }
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

header {
    background: url(../assets/01.jpg) no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 20px;
    h2,h3 {
        font-family: $fontPrimary;
    }
    h2 {
        margin-top: 20px;
    }
    h3 {
        margin-top: 10px;
    }
    ul {
        font-family: $fontSecondary;
        li {
            list-style-type: none;
        }
        a {
            text-decoration: none;
            color: #fff;
        }
    }
    .header-links {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        font-size: 18px;
        text-transform: uppercase;
        a:hover {
            border-bottom: 2px solid $colorRed;
        }
    }
    .header-input {
        margin-top: 2em;
        margin-bottom: 2em;
        input {
            height: 40px;
            width: 240px;
            border-radius: 4px;
            border: none;
            padding: 10px;
        }
        button {
            font-family: $fontSecondary;
            height: 40px;
            padding: 10px;
            color: #fff;
            background-color: $colorRed;
            border: none;
            border-radius: 4px;
        }
    }
}

main {
    .homes-card-ctn {
        margin-top: 2em;
    }
    .homes-card {
        width: 260px;
        margin: auto;
        margin-top: 2em;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 10px 5px 10px #ccc;
        .homes-card__img {
            background: url(../assets/03.jpg) no-repeat center center;
            background-size: cover;
            height: 150px;
            position: relative;
            p {
                background-color: #27ae60;
                font-family: $fontSecondary;
                color: #fff;
                text-align: center;
            }
            .homes-card__img-price {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 80%;
                display: flex;
                justify-content: space-between;
                font-family: $fontSecondary;
                color: #fff;
                i:hover {
                    color: $colorRed;
                }
                i {
                    font-size: 25px;
                    margin-right: 10px;
                }
                h5 {
                    font-size: 23px;
                    margin-left: 10px;
                }
            }
        }
        .homes-card__img2 {
            background: url(../assets/04.jpg) no-repeat center center;
            background-size: cover;
        }
        .homes-card__img3 {
            background: url(../assets/05.jpg) no-repeat center center;
            background-size: cover;
        }
        .homes-card__img4 {
            background: url(../assets/01.jpg) no-repeat center center;
            background-size: cover;
        }
    }
    .homes {
        padding: 10px;
        h2 {
            font-family: $fontPrimary;
            margin-top: 20px;
        }
        h3 {
            font-family: $fontSecondary;
            font-size: 16px;
            margin-top: 5px;
            a {
                color: #0984e3;
                font-weight: lighter;
            }
        }
        .homes-card__text {
            font-family: $fontSecondary;
            padding: 10px;
            .homes-card__text-flex {
                display: flex;
                li {
                    list-style-type: none;
                    margin-right: 5px;
                }
            }
        }
    }
}



.newest-card-ctn {
    margin-top: 2em;
}
.newest-card {
    width: 260px;
    margin: auto;
    margin-top: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 10px 5px 10px #ccc;
    .newest-card__img {
        background: url(../assets/12.jpg) no-repeat center center;
        background-size: cover;
        height: 150px;
        position: relative;
        p {
            background-color: #27ae60;
            font-family: $fontSecondary;
            color: #fff;
            text-align: center;
        }
        .newest-card__img-price {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 80%;
            display: flex;
            justify-content: space-between;
            font-family: $fontSecondary;
            color: #fff;
            i:hover {
                color: $colorRed;
            }
            i {
                font-size: 25px;
                margin-right: 10px;
            }
            h5 {
                font-size: 23px;
                margin-left: 10px;
            }
        }
    }
    .newest-card__img2 {
        background: url(../assets/08.jpg) no-repeat center center;
        background-size: cover;
    }
    .newest-card__img3 {
        background: url(../assets/09.jpg) no-repeat center center;
        background-size: cover;
    }
    .newest-card__img4 {
        background: url(../assets/10.jpg) no-repeat center center;
        background-size: cover;
    }
}
.newest {
    padding: 10px;
    h2 {
        font-family: $fontPrimary;
        margin-top: 20px;
    }
    h3 {
        font-family: $fontSecondary;
        font-size: 16px;
        margin-top: 5px;
        a {
            color: #0984e3;
            font-weight: lighter;
        }
    }
    .newest-card__text {
        font-family: $fontSecondary;
        padding: 10px;
        .newest-card__text-flex {
            display: flex;
            li {
                list-style-type: none;
                margin-right: 5px;
            }
        }
    }
}


.affordable-card-ctn {
    margin-top: 2em;
}
.affordable-card {
    width: 260px;
    margin: auto;
    margin-top: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 10px 5px 10px #ccc;
    .affordable-card__img {
        background: url(../assets/12.jpg) no-repeat center center;
        background-size: cover;
        height: 150px;
        position: relative;
        p {
            background-color: #27ae60;
            font-family: $fontSecondary;
            color: #fff;
            text-align: center;
        }
        .affordable-card__img-price {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 80%;
            display: flex;
            justify-content: space-between;
            font-family: $fontSecondary;
            color: #fff;
            i:hover {
                color: $colorRed;
            }
            i {
                font-size: 25px;
                margin-right: 10px;
            }
            h5 {
                font-size: 23px;
                margin-left: 10px;
            }
        }
    }
    .affordable-card__img2 {
        background: url(../assets/13.jpg) no-repeat center center;
        background-size: cover;
    }
    .affordable-card__img3 {
        background: url(../assets/14.jpg) no-repeat center center;
        background-size: cover;
    }
    .affordable-card__img4 {
        background: url(../assets/15.jpg) no-repeat center center;
        background-size: cover;
    }
}
.affordable {
    padding: 10px;
    h2 {
        font-family: $fontPrimary;
        margin-top: 20px;
    }
    h3 {
        font-family: $fontSecondary;
        font-size: 16px;
        margin-top: 5px;
        a {
            color: #0984e3;
            font-weight: lighter;
        }
    }
    .affordable-card__text {
        font-family: $fontSecondary;
        padding: 10px;
        .affordable-card__text-flex {
            display: flex;
            li {
                list-style-type: none;
                margin-right: 5px;
            }
        }
    }
}


.luxury-card-ctn {
    margin-top: 2em;
}
.luxury-card {
    width: 260px;
    margin: auto;
    margin-top: 2em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 10px 5px 10px #ccc;
    .luxury-card__img {
        background: url(../assets/16.jpg) no-repeat center center;
        background-size: cover;
        height: 150px;
        position: relative;
        p {
            background-color: #27ae60;
            font-family: $fontSecondary;
            color: #fff;
            text-align: center;
        }
        .luxury-card__img-price {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 80%;
            display: flex;
            justify-content: space-between;
            font-family: $fontSecondary;
            color: #fff;
            i:hover {
                color: $colorRed;
            }
            i {
                font-size: 25px;
                margin-right: 10px;
            }
            h5 {
                font-size: 23px;
                margin-left: 10px;
            }
        }
    }
    .luxury-card__img2 {
        background: url(../assets/17.jpg) no-repeat center center;
        background-size: cover;
    }
    .luxury-card__img3 {
        background: url(../assets/18.jpg) no-repeat center center;
        background-size: cover;
    }
    .luxury-card__img4 {
        background: url(../assets/19.jpg) no-repeat center center;
        background-size: cover;
    }
}
.luxury {
    padding: 10px;
    h2 {
        font-family: $fontPrimary;
        margin-top: 20px;
    }
    h3 {
        font-family: $fontSecondary;
        font-size: 16px;
        margin-top: 5px;
        a {
            color: #0984e3;
            font-weight: lighter;
        }
    }
    .luxury-card__text {
        font-family: $fontSecondary;
        padding: 10px;
        .luxury-card__text-flex {
            display: flex;
            li {
                list-style-type: none;
                margin-right: 5px;
            }
        }
    }
}

.trends {
    background: url(../assets/02.jpg) no-repeat center center;
    background-size: cover;
    margin-top: 2em;
    text-align: center;
    font-family: $fontPrimary;
    color: #fff;
    .trends-bg {
        background: rgba(0,0,0,0.5);
        padding: 20px;
        h3 {
            margin-top: 2em;
        }
        h2 {
            margin-top: 1em;
            font-size: 20px;
        }
        button {
            border: 1px solid #fff;
            border-radius: 15px;
            background: transparent;
            color: #fff;
            font-family: $fontPrimary;
            font-weight: bold;
            margin-top: 2em;
            padding: 5px 15px 5px 15px;
        }
    }
}

.news {
    h2 {
        font-family: $fontSecondary;
        text-align: center;
        margin-top: 2em;
    }
    .news-img {
        background: url(../assets/news/02.jpg) no-repeat center center;
        background-size: cover;
        width: 100%;
        background-size: cover;
        height: 150px;
        position: relative;
        h4 {
            background-color: #0984e3;
            text-align: center;
            color: #fff;
            font-family: $fontSecondary;
            font-weight: lighter;
            text-transform: uppercase;
        }
    }
    .news-img2 {
        background: url(../assets/news/01.jpg) no-repeat center center;
        background-size: cover;
    }
    .news-img3 {
        background: url(../assets/news/03.jpg) no-repeat center center;
        background-size: cover;
    }
    .news-img4 {
        background: url(../assets/news/04.jpg) no-repeat center center;
        background-size: cover;
    }
    .news-text {
        font-family: $fontSecondary;
        padding: 10px;
        h3 {
            font-size: 15px;
            font-weight: lighter;
        }
    }
    .news-card {
        width: 260px;
        margin: auto;
        margin-top: 2em;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 10px 5px 10px #ccc;
    }
}

footer {
    margin-top: 3em;
    padding: 25px;
    background-color: #fff;
    border-top: 1px solid #ccc;
    .footer-logo {
        h1 {
            font-family: $fontPrimary;
        }
        span {
            color: $colorRed;
        }
    }
    .footer-list1,.footer-list2,.footer-list3 {
        font-family: $fontSecondary;

        a {
            color: black;
        }
    }
    li {
        list-style-type: none;
    }
    a {
        text-decoration: none;
    }
}

.footer-social {
    background: #2d3436;
    padding: 10px;
    i {
        background-color: #fff;
        border-radius: 3px;
        padding: 8px;
        margin: 10px;
    }
    ul {
        display: flex;
        justify-content: center;
        list-style-type: none;
    }
    a {
        color: black;
    }
}

.nav-links-ctn {
    background-color: rgb(246, 246, 246);
    z-index: 100;
}


/*NAVBAR MOBILE RESPONSIVE*/

@media only screen and (max-width: 500px) {
    .burger {
        display: block !important;
        position: absolute;
        left: 5px;
        top: 5px;
        cursor: pointer;
        div {
            background-color: gray;
            width: 27px;
            height: 2px;
            margin: 6px;
        }
    }
    .logo {
        width: 100%;
        h1 {
            text-align: center;
        }
    }
    .nav-links-ctn {
        position: absolute;
        top: 5vh;
        transform: translateX(-120%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: transform 0.4s ease-in;
        width: 100%;
        height: 95vh;
        .nav-account {
            display: none !important;
        }
        .nav-links {
            display: flex;
            flex-direction: column;
            height: 100%;
        }
    }
    .nav-active {
        transform: translateX(-20%);
    }
}

@media only screen and (min-width: 320px) and (max-width: 500px) {
    footer {
        h3 {
            margin: 20px 0px 20px 0px;
        }
    }
}

@media only screen and (min-width: 768px) {
    nav {
        width: 700px;
        margin: auto;
        .nav-links-ctn {
            width: 200px;
            li {
                margin-right: 30px;
            }
        }
    }
    .container-header {
        width: 700px;
        margin: auto;
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 25px;
        }
        button {
            width: 50px;
        }
        input {
            width: 400px !important;
        }
    }
    .header-links {
        width: 250px;
        margin-top: 3em !important;
    }
   .homes-card-ctn {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       .homes-card {
           width: 180px;
       }
   }
   .newest-card-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .newest-card {
        width: 180px;
        }
    }
    .affordable-card-ctn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .affordable-card {
            width: 180px;
        }
    }
    .luxury-card-ctn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .luxury-card {
            width: 180px;
        }
    }
    .news-ctn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .news-card {
            width: 180px;
        }
    }
    .container-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        h1 {
            font-size: 23px;
        }
        h3 {
            font-size: 16px;
        }
        li {
            font-size: 14px;
        }
    }

    .trends {
        height: 40vh;
        .trends-bg {
            height: 100%;
            h3 {
                margin-top: 2em;
                font-size: 30px;
            }
            h2 {
                font-size: 25px;
                width: 400px;
                margin: auto;
                margin-top: 2em;
            }
            button {
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1024px) {
    nav {
        width: 900px;
        margin: auto;
        .nav-links-ctn {
            width: 200px;
            li {
                margin-right: 30px;
            }
        }
    }
    .container-header {
        width: 900px;
        margin: auto;
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 25px;
        }
        button {
            width: 50px;
        }
        input {
            width: 400px !important;
        }
    }
    .header-links {
        width: 250px;
        margin-top: 3em !important;
    }
   .homes-card-ctn {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       .homes-card {
           width: 220px;
       }
   }
   .newest-card-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .newest-card {
        width: 220px;
        }
    }
    .affordable-card-ctn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .affordable-card {
            width: 220px;
        }
    }
    .luxury-card-ctn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .luxury-card {
            width: 220px;
        }
    }
    .news-ctn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        .news-card {
            width: 220px;
        }
    }
    .homes-text {
        margin-left: 2%;
    }
    .container-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        h1 {
            font-size: 23px;
        }
        h3 {
            font-size: 16px;
        }
        li {
            font-size: 14px;
        }
    }

    .trends {
        .trends-bg {
            height: 100%;
            h3 {
                margin-top: 2em;
                font-size: 30px;
            }
            h2 {
                font-size: 25px;
                width: 400px;
                margin: auto;
                margin-top: 2em;
            }
            button {
                font-size: 20px;
            }
        }
    }
}

@media only screen and (min-width: 1280px) {
    nav {
        width: 1100px;
        margin: auto;
        .nav-links-ctn {
            width: 200px;
            li {
                margin-right: 30px;
            }
        }
    }
    .container-header {
        width: 1100px;
        margin: auto;
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 25px;
        }
        button {
            width: 50px;
        }
        input {
            width: 400px !important;
        }
    }
    .header-links {
        width: 250px;
        margin-top: 3em !important;
    }
   .homes-card-ctn {
       display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;
       width: 1100px;
       margin: auto;
       margin: auto;
       .homes-card {
           width: 240px;
       }
   }
   .newest-card-ctn {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    width: 1100px;
    .newest-card {
        width: 240px;
        }
    }
    .affordable-card-ctn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: auto;
        width: 1100px;
        .affordable-card {
            width: 240px;
        }
    }
    .luxury-card-ctn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin: auto;
        width: 1100px;
        .luxury-card {
            width: 240px;
        }
    }
    .news-ctn {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 1100px;
        margin: auto;
        .news-card {
            width: 240px;
        }
    }
    .homes-text {
        text-align: center;
    }
    .container-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        width: 1100px;
        margin: auto;
        position: relative;
        left: 30px;
        h1 {
            font-size: 23px;
        }
        h3 {
            font-size: 16px;
        }
        li {
            font-size: 14px;
        }
    }

    .trends {
        .trends-bg {
            height: 100%;
            padding-bottom: 4em;
            h3 {
                margin-top: 2em;
                font-size: 35px;
            }
            h2 {
                font-size: 25px;
                width: 500px;
                margin: auto;
                margin-top: 2em;
            }
            button {
                font-size: 20px;
            }
        }
    }
}